    {{#each postagens}}
    <div class="card">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>{{descrição}}</p>
            <a href="/postagens/{{slug}}">
                <button class="btn btn-success">Leia mais</button>
            </a>
            <hr>
            <small>Data de publicação {{categoria.date}}</small>
        </div>
    </div>

    {{else}}
    <h5>Nenhuma postagem registrada!</h5>
    {{/each}}